.font-00001 {
    font-size: 40px;
    color: #54595f;
    text-align: center;
}

.font-00001-bold {
    font-size: 40px;
    color: #54595f;
    text-align: center;
    font-weight: bold;
}

.font-00002 {
    font-size: 36px;
    color: #54595f;
    text-align: center;
}

.font-00002-bold {
    font-size: 36px;
    color: #54595f;
    text-align: center;
    font-weight: bold;
}

.font-00003 {
    font-size: 32px;
    color: #54595f;
    text-align: center;
}

.font-00003-bold {
    font-size: 32px;
    color: #54595f;
    text-align: center;
    font-weight: bold;
}

.font-00004 {
    font-size: 28px;
    color: #54595f;
    text-align: center;
}

.font-00004-bold {
    font-size: 28px;
    color: #54595f;
    text-align: center;
    font-weight: bold;
}